main {
  min-height: 80vh;
}

h4 {
  padding: 0.5rem 0;
  font-size:20px
  
}

h3 {
  padding: 1rem 0;
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;

}
.link{
  color: aqua;
}


h5 {
  padding-top: 2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;


}

h6 {
  font-size: small;
  border-bottom: 1px solid gray;
}

p {
  font-weight: bold;
}


.rating span {
  margin: 0.1rem;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 10px;
  left:700px
}

.carousel-caption h2 {
  color: rgb(89, 209, 105);
  font-size:20px;
  font-family: 'Times New Roman', Times, serif;

}
.carousel-caption{
  color:rgb(255, 255, 255);
  text-align: left;
  font-size: 14px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  

}

.carousel img {
  height: 300px;
  padding: 5px;
  margin: 30px;
  /* border-radius: 50%; */
  margin-left: auto;
  margin-right: 400px;
}
.carousel a {
  margin: 0 auto;
}
@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}

